<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/register.js" defer></script>
    <title>Create an Account Form</title>
</head>
<body>
    <h2>Create an account</h2>
    <input type="text" placeholder="이메일" id="create-email" name="email" required><br>
    <input type="text" placeholder="비밀번호" id="create-password" name="password" required><br>
    <input type="text" placeholder="비밀번호 확인" id="confirm-password" name="password" required><br>

    <button>회원가입</button><br>
    <a href="/login">로그인하기</a>
</body>
</html>